{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-xs-12">
                <img src="https://www.logodesignlove.com/images/classic/nba-logo.jpg" class="img-fluid" alt="NBAlogo">

                <form action="" method="POST" class="d-flex flex-column">
                    <div class="form-group d-flex flex-column">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control" required>
                    </div>

                    <div class="form-group d-flex flex-column">
                        <label for="lozinka">Lozinka</label>
                        <input type="password" name="lozinka" id="lozinka" class="form-control" required>
                    </div>

                    <input type="submit" id="inputSubmit" class="btn btn-primary my-2" value="Log in">
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}